<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GuildfordBoroughCouncil.ActiveDirectory.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <GuildfordBoroughCouncil.ActiveDirectory.Api.Properties.Settings>
      <setting name="NoPhotoImageUrl" serializeAs="String">
        <value>//www2.guildford.gov.uk/_resources/images/usernopic.gif</value>      
      </setting>
      <setting name="ServiceHeadLdap" serializeAs="String">
        <value>LDAP://CN=Heads of Service,OU=Mail Distribution,OU=GBC Groups,DC=guildford,DC=gov,DC=uk</value>
      </setting>
      <setting name="CouncillorLdap" serializeAs="String">
        <value>LDAP://CN=Councillors,OU=GBC Groups,DC=guildford,DC=gov,DC=uk</value>
      </setting>
      <setting name="UserLdap" serializeAs="String">
        <value>LDAP://OU=GBC Users,DC=guildford,DC=gov,DC=uk</value>
      </setting>
      <setting name="DomainLdap" serializeAs="String">
        <value>LDAP://DC=guildford,DC=gov,DC=uk</value>
      </setting>
      <setting name="DomainName" serializeAs="String">
        <value>GUILDFORD</value>
      </setting>
      <setting name="ManagementTeamName" serializeAs="String">
        <value>Corporate Management Team</value>
      </setting>
      <setting name="GroupLdap" serializeAs="String">
        <value>LDAP://OU=GBC Groups,DC=guildford,DC=gov,DC=uk</value>
      </setting>
    </GuildfordBoroughCouncil.ActiveDirectory.Api.Properties.Settings>
  </applicationSettings>
</configuration>